@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


body,
html {
  background-color: #fff;
  color: #000;
}

.navbar ul li { 
  list-style: none;
  display: inline-flex
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #CA7508;
    margin: 1em 0; padding: 0; }

.icon {
  position: relative;
  top: 6px;
}

